<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JustClimbTrial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JustClimbTrial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JustClimbTrial.Properties.Settings.JustClimbConnectionString"
            connectionString="Data Source=IOIO-PC;Initial Catalog=JustClimb;User ID=IoioSa;Password=Ioio0512"
            providerName="System.Data.SqlClient" />
        <add name="JustClimbTrial.Properties.Settings.JustClimbConnectionString1"
            connectionString="Data Source=sing-mssql-1.chdc0elhkwnt.ap-southeast-1.rds.amazonaws.com;Initial Catalog=JustClimb;User ID=IoioSa;Password=Ioio0512;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <JustClimbTrial.Properties.Settings>
            <setting name="AppFilesDirectory" serializeAs="String">
                <value>..\AppFiles</value>
            </setting>
            <setting name="VideoFileExtension" serializeAs="String">
                <value>.mp4</value>
            </setting>
            <setting name="VideoBufferDirectory" serializeAs="String">
                <value>..\AppFiles\temp\VideoImgBuffer</value>
            </setting>
            <setting name="WallLogDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\WallLog</value>
            </setting>
            <setting name="VideoResourcesDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\Videos</value>
            </setting>
            <setting name="BoulderButtonNormalImgSequenceDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\ButtonNormal</value>
            </setting>
            <setting name="VideoTempDirectory" serializeAs="String">
                <value>..\AppFiles\temp\TempRecording</value>
            </setting>
            <setting name="BoulderRouteVideoRecordedFilePathFormat" serializeAs="String">
                <value>..\RecordedVideos\Wall_{0}\BoulderRoutes\Route_{1}\{2}{3}</value>
            </setting>
            <setting name="FfmpegExePath" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="TrainingRouteVideoRecordedFilePathFormat" serializeAs="String">
                <value>..\RecordedVideos\Wall_{0}\TrainingRoutes\Route_{1}\{2}{3}</value>
            </setting>
            <setting name="MaxVideoRecordDurationInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IsDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameplayStartVideoPath" serializeAs="String">
                <value>..\AppFiles\Resources\Videos\Start.mp4</value>
            </setting>
            <setting name="GameplayCountdownVideoPath" serializeAs="String">
                <value>..\AppFiles\Resources\Videos\Countdown.mp4</value>
            </setting>
            <setting name="GameplayFinishVideoPath" serializeAs="String">
                <value>..\AppFiles\Resources\Videos\Finish.mp4</value>
            </setting>
            <setting name="GameplayReadyVideoPath" serializeAs="String">
                <value>..\AppFiles\Resources\Videos\Ready.mp4</value>
            </setting>
            <setting name="BoulderButtonShowImgSequenceDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\1_Button_Show</value>
            </setting>
            <setting name="BoulderButtonFeedbackImgSequenceDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\2_Button_Feedback</value>
            </setting>
            <setting name="BoulderButtonShinePopImgSequenceDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\3_Button_Shine_Pop</value>
            </setting>
            <setting name="BoulderButtonShineLoopImgSequenceDirectory" serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\4_Button_Shine_Loop</value>
            </setting>
            <setting name="BoulderButtonShineFeedbackPopImgSequenceDirectory"
                serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\5_Button_Shine_Feedback_Pop</value>
            </setting>
            <setting name="BoulderButtonShineFeedbackLoopImgSequenceDirectory"
                serializeAs="String">
                <value>..\AppFiles\Resources\ImgSequences\BoulderButton\6_Button_Shine_Feedback_Loop</value>
            </setting>
            <setting name="WandF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameOverVideoPath" serializeAs="String">
                <value>..\AppFiles\Resources\Videos\Gameover.mp4</value>
            </setting>
        </JustClimbTrial.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <JustClimbTrial.Properties.Settings>
            <setting name="WallPlaneStr" serializeAs="String">
                <value>1,2,3,4</value>
            </setting>
            <setting name="FloorPlaneStr" serializeAs="String">
                <value>1,2,3,4</value>
            </setting>
        </JustClimbTrial.Properties.Settings>
    </userSettings>
</configuration>
